{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals", // strict configs from eslint-config-next
    "prettier"
  ],
  "rules": {
    "curly": "error",
    "no-duplicate-imports": "warn",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-var-requires": "warn",
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object"
        ]
      }
    ]
  }
}
