@use '@/styles/_partials' as *;

.header {
  background-color: #000;
  position: sticky;
  top: 0;
  height: auto;
  width: 100%;
  overflow: hidden;

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    @include respond-to(768px) {
      padding: 1rem 4rem;
    }

    @include respond-to(1096px) {
      padding: 1rem 6rem;
    }

    .leftTitle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 0;
      padding: 0.5rem;

      @include respond-to(768px) {
        padding: 1rem;
      }

      li {
        list-style: none;

        &.title {
          margin: 0.5rem 0 1rem;
          font-weight: 500;
          @include font-size(24px);
          @include line-height(20px);
          @include letter-spacing(1px);

          @include respond-to(768px) {
            @include font-size(36px);
            @include line-height(28px);
            @include letter-spacing(1px);
          }
        }

        &.subtitle {
          opacity: 0.75;
          font-weight: 400;
          margin-bottom: 0.5rem;
          @include font-size(14px);
          @include line-height(10px);
          @include letter-spacing(1px);

          @include respond-to(768px) {
            @include font-size(18px);
            @include line-height(16px);
          }
        }
      }
    }

    .navigationList {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: space-around;
      gap: 0.5rem;
      @include respond-to(768px) {
        gap: 1rem;
      }

      li {

        a {
          color: rgb(49, 148, 234);
          text-transform: uppercase;
          text-decoration: none;
          @include font-size(12px);
          @include line-height(10px);
          @include letter-spacing(0.5px);

          @include respond-to(768px) {
            @include font-size(16px);
            @include line-height(10px);
          }

          &.active {
            color: red;
          }

          &:hover,
          &:focus {
            color: white;
          }
        }
      }
    }
  }
}
